/* 
  GENERAL
*/
html {
  background-color: rgb(242, 232, 250);
}

body {
    padding-left:5%;
    padding-right:5%;
    margin: 20px;
    text-align: center;
    max-width: 1280px;
    margin: 50px auto;
  }
  p {
    text-align: justify;
    font-size: 25px;
  }

  h1 {
    text-align: center;
    font-family: 'Poiret One', cursive;
    font-size:80px;
}

h2 {
    font-family: 'Poiret One', cursive;
    font-size:30px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

.logo {
  float: left;
  flex-wrap:wrap;
  border-radius: 25%;
  shape-outside:margin-box;
  max-width: 100%;
}
.companyoverview, .navigation, #content-resources, footer {
  max-width: 1280px;
  margin: 50px auto;
}

/* Image */

  .notion-logo {
    float: left;
    flex-wrap:wrap;
    border-radius: 22%;
    padding-right:40px;
    shape-outside:margin-box;
    max-width: 100%;
  }

  /* Navigation CSS */
  .navigation ul {
    list-style-type:none;
    padding: 20px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .navigation ul li {
    display:inline;
    font-size: 1.5em;
    line-height: 55px;
  }
  
  .navigation li a {
    text-decoration: none;
    color:black;
    padding: 20px 40px;
  }
  
  .navigation li a:hover {
    background-color: rgb(242, 232, 250);
  }
  
  .companyoverview div h2 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
  }
  
  li {
    display:inline;
    font-size: 1.5em;
  }
  
  li a {
    text-decoration: none;
    color:black;
    padding: 20px 40px;
  }
  
  li a:hover {
    background-color: rgb(242, 232, 250);
  }
  
  nav {
    padding-bottom:50px;
  }

  .form {
    margin:auto;
  }

/* Footer CSS */

.inner-footer {
  margin-top:80px;
  padding-bottom:30px;
  background-color:rgb(255, 255, 255);
}

.social-links ul {
  display:flex;
  padding-top:15px;
  padding-bottom:0;
  width:200px;

  margin: auto;
}

.social-items {
  list-style:none;
}

.social-items a{
  padding:10px 20px;
  font-size: 30px;
  color: rgb(97, 96, 96);
}

.quick-links {
  display:flex;
  width:300px;
  height:30px;
  margin:auto;
}

.quick-links ul{
  display:flex;
}

.quick-items{
  list-style:none;
}

.quick-items a{
  text-decoration:none;
  padding: 0px 15px;
  font-size: 18px;
  color:rgb(97, 96, 96);
}

.main-links {
  color: darkblue;
  font-weight: bold;
}