/* GENERAL */

h1 {
  font-size: 3.5rem;
}
p {
  margin: 25px
}

h1 {
  text-align: center;
  font-family: 'Poiret One', cursive;
  font-size:80px;
}

h2 {
  font-family: 'Poiret One', cursive;
  font-size:30px;
  text-align: center;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 20px;
}

main > section{
  background-color:rgb(255, 255, 255);
  padding:1em;
}

html {
  background-color: rgb(242, 232, 250);
}

/* Header */

header, .flex-row, footer {
  max-width: 1280px;
  margin: 50px auto;
}

.logo {
  float: left;
  flex-wrap:wrap;
  border-radius: 25%;
  shape-outside:margin-box;
  max-width: 100%;
}
  /* Navigation CSS */

  .navigation ul {
    list-style-type:none;
    padding: 20px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
  }
  
  .navigation ul li {
    display:inline;
    font-size: 1.5em;
    line-height: 55px;
  }
  
  .navigation li a {
    text-decoration: none;
    color:black;
    padding: 20px 40px;
  }
  
  .navigation li a:hover {
    background-color: rgb(242, 232, 250);
  }
  
  .companyoverview div h2 {
    text-align: center;
  }

  ul {
    list-style-type: none;
    padding: 20px;
    margin: 0;
    background-color: rgb(255, 255, 255);
    text-align: center;
  }
  
  li {
    display:inline;
    font-size: 1.5em;
  }
  
  li a {
    text-decoration: none;
    color:black;
    padding: 20px 40px;
  }
  
  li a:hover {
    background-color: rgb(242, 232, 250);
  }
  
  nav {
    padding-bottom:50px;
  }

  .form {
    margin:auto;
  }